{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    
    <title>Roma</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-sm-12 mt-5 mb-5" style="text-align: center">
                    <h1 class="align-middle">Bem-vindo ao Roma Pousada</h1>
                </div>
                <div class="col-sm-12 mt-5 mb-5" style="text-align: center">
                    <button type="submit" class="btn-lg btn-success mr-5">Fazer uma nova reserva</button>
                    <button type="submit" class="btn-lg btn-primary">Visualizar reservas</button>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card">
                    <img class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Reservas recentes</h4>
                        <p class="card-text">Text</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Item 1</li>
                        <li class="list-group-item">Item 2</li>
                        <li class="list-group-item">Item 3</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>